#p{
	position: relative;
	background-size: 100%;
	background-position: center;
	height:50vw;
	width:50vw;


}
#hs{
	position: absolute;
	top:30%;
	left:50%;
	width:3%;
	height:25%;
	background-color: black;

}
#min{
	position: absolute;
	top:30%;
	left:50%;
	width:2%;
	height:50%;
	background-color: black;

}
#sec{
	position:absolute;
	top:30%;
	left:50%;
	width:1%;
	height:70%;
	background-color:black;

}
